/*----------------------------------------*\

	Entire page Styling

\*----------------------------------------*/

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.pg {
	height: 750px;
}

.full-width {
	width: 100%;
	margin: 0;
	padding: 0;
	border:0;
}

.cover-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

.font-light {
	font-weight: 300;
}

.font-reg{
	font-weight: 400;
}

.font-bold {
	font-weight: 700;
}

.font-x-lg {
	font-size: 54px;
}

.font-lg {
	font-size: 34px;
}

.font-md {
	font-size: 24px;
}

.font-sm {
	font-size: 19px;
}

.font-x-sm {
	font-size: 12px;
}

.centered-content {
	text-align: center;
}

.wt-text {
	color: white;
}

/*---------------------------------------------*\

     Cover Page Styling

\*---------------------------------------------*/

.cover-pg {
	position: relative;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

@media only screen and (max-width: 399px) {
	/* small sized screen, non retina */
	.cover-pg {
		background-image:url("images/splash_photo_290.jpg");
	}
}


@media only screen and (min-width: 400px) and (max-width:1279px) {
	/* large sized screen, non retina */
	.cover-pg {
		background-image:url("images/splash_photo_600.jpg");
	}
}

@media only screen and (min-width: 1280px) {
	/* default */
	.cover-pg {
		background-image: url("images/splash_photo_1280.jpg");
	}
}


	.cover-pg:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(256, 256, 256, 0.1), rgba(0,0,0,0.8));
	}

header {
	position: fixed;
	height: 84px;
	padding: 10px 0 0 0;
	z-index: 10;
	color: white;
}

	header .early-access-btn {
		width: 150px;
		height: 40px;
		background: transparent;
		border: 2px solid white;
	}

.scrolled-header {
	background-color: white;
	color: black;
	border-bottom: 2px solid rgb(230, 230, 230);
}

	.scrolled-header .early-access-btn {
		background-color: rgb(219, 68, 55);
		border: 0;
	}

.early-access-btn {
	margin: 10px 0 0 0;
	background-color: rgb(219, 68, 55);
	border: 0;
	border-radius: 5px;
}

.comp-name-container {
	position: relative;
	top: 150px;
}

.early-access-input-container {
	position: relative;
	top: 200px;
}
	
	.early-access-input-container .early-access-btn {
		width: 250px;
		height: 50px;
	}

	.early-access-input-container input {
		width: 50%;
		min-width: 250px;
		height: 50px;
		padding: 20px;
	}

.early-access-link {
	border: 2px white;
}

/*---------------------------------------------*\

     General Information Page Styling

\*---------------------------------------------*/

.general-info-pg {
	position: relative;
	background-color: white;
}

.heading-container {
	position: relative;
	margin-top: 100px;
}

.gifts-icon-container {
	position: relative;
	top: 50px;
}

	.gifts-icon-container img {
		width: 200px;
	}

.general-info-content {
	position: relative;
	top: 100px;
	text-align: left;
}

/*----------------------------------------------*\

     Available Locations Styling

\*-----------------------------------------------*/

.available-locations-container {
	position: relative;
	background:url("images/skyline1.png");
	background-color: rgb(150, 40, 27);
	height: 340px;
}

.coming-soon-container {
	position: relative;
	top: 50px;
}

/*-------------------------------------------*\

     How It Works Styling

\*-------------------------------------------*/

@media only screen and (max-width: 495px) {
	.hiw {
		height: 1200px;
	}
}

@media only screen and (min-width: 496px) and (max-width: 995px) {
	.hiw {
		height: 1000px;
	}
}

.hiw-elmts {
	position: relative;
	top: 100px;
}

.hiw-img {
	width: 100px;
	margin-bottom: 20px;
}


/*----------------------------------------*\

     Footer Page Styling

\*----------------------------------------*/

.footer-pg {
	position: relative;
	background-image: url("images/passport2.png");
	height: 400px;
}
	
	.closing-stmt {
		position: absolute;
		bottom: 140px;
	}

	.footer-pg:before {
		position: relative;
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(237, 157, 151, 0.3);
	}
