extends layout

block content
	// - Cover Page
	.container-fluid.pg.full-width
		.row.cover-pg.cover-bg.full-width
			.col-md-12.full-width
				header.row.full-width
					.col-xs-2.col-md-2.col-md-offset-1
						h3.logo-container
							img(src='/images/logo_icon.png')
					.col-xs-2.col-md-1.col-xs-offset-6.col-sm-offset-5.col-md-offset-5.faq-link
						a.font-light(href="/faq") FAQ
					.col-xs-2.col-md-2

						button#subscribeModalBtn.early-access-btn.wt-text.font-x-sm.font-light(type='button', data-toggle='modal', data-target='#subscribeModal')	Get Early Access
						// will apply when the screen width <= 768px
						a#subscribeModalMenu.early-access-menu(href='', data-toggle='modal', data-target='#subscribeModal')
							img(src='/images/early_access_menu_wt.png')
				.col-xs-10.col-md-10.col-xs-offset-1.col-md-offset-1.centered-content
					.row.comp-name-container
						p.font-x-lg.font-reg.wt-text SHYPMATE
							sup.trademark TM
						span.font-lg.font-light.wt-text	Ship at a bargain through your network
					.row.early-access-input-container
						.col-xs-12.col-md-offset-3.col-md-3
							button#subscribe-button.early-access-btn.wt-text.font-x-sm.font-light(href='', data-toggle='modal', data-target='#subscribeModal') Get Early Access
						.col-xs-12.col-md-3.col-md-3-offset
							button.watch-video-btn.wt-text.font-x-sm.font-light(href='', data-toggle='modal', data-target='#videoModal') Watch Video

		// Second Page
		.row.general-info-pg.pg.full-width
			.col-md-12.centered-content
				.row
					.heading-container.col-md-10.col-md-offset-1
						p.font-reg.font-lg.pg-heading Ship home to Anyone. Anytime. Anywhere.
				.row
					.col-md-10.col-md-offset-1.gifts-icon-container
						img(src='/images/gifts.png')
				.row
					.col-md-10.col-md-offset-1.general-info-content.font-light.font-sm.font-soft
						span
							| Shypmate lets you connect with travelers who can carry your package where it needs to go.
							| Send your items without the standard cost of shipping internationally.
							| As a traveler, put your empty luggage space to good use and make some extra bucks.
							| If people travel there, a ShypMate can get your items there.

		// Third Page
		.row.available-locations-container.full-width
			.col-md-12
				.row.coming-soon-container
					.col-md-6.col-md-offset-3.centered-content
						p.wt-text.font-light.font-lg
							| Will Begin Serving
							br
							| New York
							br
							| To
							br
							| Lagos

		// Fourth page
		#how-it-works.row.pg.full-width.hiw
			.col-md-12
				.row
					.heading-container.col-md-10.col-md-offset-1.centered-content
						p.font-reg.font-lg.pg-heading How It Works
				.row
					.col-md-3.col-md-offset-1.hiw-elmts.centered-content
						span
							img.hiw-img(src='/images/map.png')
						p.font-light.font-md.pg-heading Choose your destination
						p.font-light.font-x-sm.font-soft Senders choose where and when they need their package sent. Travelers post when and where they are traveling.
					.col-md-4.hiw-elmts.centered-content
						span
							img.hiw-img(src='/images/suitcase.png')
						p.font-light.font-md.pg-heading Claim your space
						p.font-light.font-x-sm.font-soft#shrink Connect with a ShypMate traveler who is headed to your destination and reserve a comfortable space for your package in their luggage.
					.col-md-3.hiw-elmts.centered-content
						span
							img.hiw-img(src='/images/paper-plane.png')
						p.font-light.font-md.pg-heading Send your package
						p.font-light.font-x-sm.font-soft Get your package to your ShypMate and relax. We&apos;ll update you throughout the journey and let you know when your package arrives.

		// Footer page
		.row.footer-pg.full-width.cover-bg.centered-content
			.col-md-12
				.row.font-bold.font-x-sm.contact-us
					|Contact Us
				.row
					.col-md-10.col-md-offset-1
						#footer-divider

				.row.social
					a(href='https://twitter.com/Shypmate' target='blank')
						img(class='social-icon', src='images/twttr_icon.svg')
					a(href='https://www.facebook.com/pages/Shypmate/637250649735355?ref=bookmarks' target='blank')
						img(class='social-icon', src='images/fb_icon.svg')
				.row.font-bold.font-x-sm#email
					|info@shypmate.com
				.logo-container
					img(src='images/logo_icon.png')


		// - Subcribe Modal
		#subscribeModal.modal.fade(tabindex='-1', role='dialog')
			.modal-dialog.modal-md
				.container-fluid.modal-content.sub-modal-container
					a(href='#')
						span.font-lg(data-dismiss='modal') &times;
					.row
						.sub-modal-content.col-md-10.col-md-offset-1
							input#modalInput.early-access-input.font-light.font-sm(placeholder='Enter email address')
							button#modal-subscribe-button.submit-modal-button.early-access-btn.wt-text.font-light.font-sm(type='button') Submit
							p#modal-subscribe-info.font-sm.font-light.pg-heading.hidden Please enter your email address &#42;

		#videoModal.modal.fade(tabindex='-1')
			.row
				.col-md-6.col-md-offset-3.video-modal-container
					.row
						|<iframe src="//fast.wistia.net/embed/iframe/douz5dt5jh" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="330"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>


