doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel="shortcut icon" href="/images/favicon.png" type="image/x-icon")
		link(rel="icon" href="/images/favicon.png" type="image/x-icon")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/index3.css')
	body
		block content

		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
		script(src='/javascripts/index.js')

		// Google Font
		link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300', rel='stylesheet', type='text/css')
